server {
    listen ${NGINX_PORT};
    listen [::]:${NGINX_PORT};
    server_name  ${NGINX_SERVER_NAME};

    root    ${NGINX_DOCUMENT_ROOT};
    charset UTF-8;

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location / {
        sendfile           on;
        sendfile_max_chunk 1m;
    }
}
